
body{
    font-size: large;
}

h2{
    text-decoration: underline;
}

p{
    font-size: 125%;
}

/* Blue text */
p span {
    color: blue;
}

/* Orange links */
p a {
    color: orange;
}

/* Brown + yellow link */
div p a {
    color: brown;
    background-color: yellow;
}

/* Red color links */
ul a {
    color: red;
}

/* Bold <ul> text */
ul div {
    font-weight: bold;
}

/* Blue color inside ul */
ul span {
    color: blue;
}

/* Bold First li in ul None"] */
ul[type="none"] li:first-child {
    font-weight: bold;
}

/* Bold First li in ul Circle */
ul[type="circle"]  li:first-child {
    font-weight: bold;
}
